<section class="dashboard text-center">

  <header class="page-header text-start">
    <h1>Dashboard</h1>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <div class="card text-success">
        <div class="card-body">
          <h3 class='card-title'>Total number of Products</h3>
          <p class='card-text fs-2'><%= @products_count %></p>
          <%= link_to "View Products", admin_products_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-success">
        <div class="card-body">
          <h3 class='card-title'>Total number of Categories</h3> 
          <p class='card-text fs-2'><%= @categories_count %></p>
          <%= link_to "View Categories", admin_categories_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
 
</section>