
<h1>Thank you for your order, <%= @email %></h1>
<p>
  Your order has been placed.
</p>
<p>
  To view your order details, please visit: <a href="<%= @url %>" target="_blank"><%= @url %></a>.
</p>
<p>Thank you for your purchase and have a great day!</p>

