
<h1>Thank you for your order, <%= @email %></h1>
<p>
  Your order has been placed.
</p>
<table>
  <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |item| %>
      <%= render 'item', product: item.product, quantity: item.quantity %>
    <% end %>
    <tr>
      <td>GRAND TOTAL</td>
      <td>
        <%= @order.line_items.sum {|entry| entry[:quantity] } %>
      </td>
      <td>
        <b><%= humanized_money_with_symbol @order.total_cents / 100.0 %></b>
      </td>
    </tr>
  </tbody>
</table>
<p>Thank you for your purchase and have a great day!</p>

